node_modules
mythx.json
.env
coverage
coverage.json
typechain

# Yarn files
yarn-error.log

#Hardhat files
cache
artifacts


.idea
tenderly.yaml
.vs/*
.DS_Store

.vscode

deployments
broadcast

#python for woke 
## Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
